label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }


// * {
//   margin: 0;
//   padding: 0;
//   -webkit-box-sizing: border-box;
//           box-sizing: border-box; }

// body {
//   font-family: 'Montserrat', sans-serif; }

// .wrapper {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//           transform: translate(-50%, -50%);
//   width: 70%;
//   margin: 0 auto;
//   background: #EBEBEB;
//   padding: 20px 30px;
//   border-radius: 8px; }

// h1 {
//   text-align: center; }

// .form-container {
//   width: 100%;
//   margin: 10px auto;
//   -webkit-box-orient: horizontal;
//   -webkit-box-direction: normal;
//       -ms-flex-direction: row;
//           flex-direction: row; }

// .flex {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: space-evenly;
//       -ms-flex-pack: space-evenly;
//           justify-content: space-evenly;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center; }

// .flex-item {
//   width: 40%;
//   height: 100%; }

// label {
//   display: block;
//   font-size: 20px; }

// .field-container {
//   padding: 5px 10px;
//   margin: 10px 0 10px; }

// .required {
//   color: red;
//   font-size: 1.1em; }

// .field-container > input, .passkey-box > input {
//   width: 100%;
//   display: inline-block;
//   padding: 7px 15px;
//   font-size: 18px;
//   margin: 5px 0 3px;
//   border-radius: 3px;
//   outline: none;
//   border: none;
//   border-bottom: 2px solid black; }

// .passkey-box {
//   position: relative; }

// .passkey-icon {
//   position: absolute;
//   right: 10px;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//           transform: translateY(-50%);
//   font-size: 1.2em; }

// .field-container > input:focus, .passkey-box > input:focus {
//   border-bottom: 2px solid dodgerBlue; }

// .error-messg {
//   display: block;
//   color: red;
//   font-weight: 300; }

// .center {
//   text-align: center; }

// input[type='submit'] {
//   padding: 10px 30px;
//   font-size: 1.2em;
//   background: dodgerBlue;
//   border: 1px solid white;
//   outline: none;
//   color: white;
//   border-radius: 3px; }

// @media screen and (max-width: 576px) {
//   .wrapper {
//     width: 100%;
//     padding: 100px 10px 30px;
//     border-radius: 0; }

//   h1 {
//     margin-top: 50px; }

//   .flex {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//             flex-direction: column; }

//   .flex-item {
//     width: 100%; } }
// @media screen and (min-width: 576px) {
//   .wrapper {
//     width: 80%;
//     padding: 100px 10px 30px;
//     border-radius: 0; }

//   .flex {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//             flex-direction: column; }

//   .flex-item {
//     width: 100%; } }
// @media screen and (min-width: 662px) {
//   .wrapper {
//     width: 70%;
//     padding: 100px 10px 30px;
//     border-radius: 0; }

//   .flex-item {
//     width: 90%;
//     height: 100%; } }
// @media screen and (min-width: 768px) {
//   .wrapper {
//     width: 80%;
//     padding: 30px 10px;
//     border-radius: 0; }

//   .flex {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//         -ms-flex-direction: row;
//             flex-direction: row; }

//   .flex-item {
//     width: 40%;
//     height: 100%; } }
// @media screen and (min-width: 992px) {
//   .wrapper {
//     max-width: 876px;
//     padding: 30px 10px;
//     border-radius: 0; } }

// /*# sourceMappingURL=style.css.map */