
<!-- <div [style.backgroundImage]="getBackgroundImageUrl()" class="bg">
    <div class="wrapper fadeInDown" >
  <div class="col-md-12">
      <div class="card card-container">
      
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="username"></label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
              placeholder="User Name"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && username.invalid"
            >
              Username is required!
            </div>
          </div>
          <div class="form-group">
            <label for="password"></label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              placeholder="Password"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && password.invalid" 
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block"  >
            <h4 style="color: aliceblue;">Sign in</h4> 
            </button>
          </div>

          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >            
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}. <button class="btn btn-primary btn-block" routerLink="/dashboard" style="width: 100%;" >continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
   -->

   <div class="cont">
    <div class="demo">
      <div class="login">
        <div>
          <img style="height: 70%; width:60%; margin-top: 30%; margin-left:22%" src="../../../assets/images/asgggg2.png">
        </div>
      <form *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>

        <div class="login__form">
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input 
              name="username"
              type="text"
              class="login__input name" 
              placeholder="Username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
              />
           
            <div class="alert alert-danger" *ngIf="f.submitted && username.invalid" role="alert" > Username Required! </div>
        
          </div>
        
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <input 
              name="password"
              type="password" 
              class="login__input pass" 
              placeholder="Password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && password.invalid" 
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
          </div>
          <div class="form-group">
             <button style="background-color: rgb(37, 187, 37);" class="login__submit">Sign in</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >            
          Login failed: {{ errorMessage }}
        </div>
      </div>

    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}. <button class="btn btn-primary btn-block" routerLink="/dashboard" style="width: 100%;" >continue</button>
    </div>
  </div>
    
 </div>

  </div>
