.stats-cards {
    .mat-card {
      overflow: hidden;
    }
  }
  
  // table {
  //   width: 160%;
  // }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-paginator{
    background-color: rgb(216, 215, 215);
    color: rgb(24, 24, 23);
    font-size: 1rem;
    width: 160%;
}

#divChart
{
  height: 100%;
  width: 100%;
  display: block;
}

td{
  font-size: 16px;
}