// ul li {

//      list-style: none;

// }


// p {
//      font-family: Lato;
//    }

//    .mat-tool-bar{
   
//       background-color: seagreen;

//    }


*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
	--header-outer-bg: #FFF;
	--header-inner-bg: #FFF; // Change me to see how it works
}

body {
	font-family: "DM Sans", sans-serif;
	background-color: #40a34d;
	line-height: 1.5;
	min-height: 300vh;
	position: relative;
}

.header-outer {
	height: 100%;
	background-color: #40a34d;
	display: flex;
	align-items: center;
	position: sticky;
	top: calc(var(--header-height-difference) * -1); //Multiply by -1 to get a negative value
	box-shadow: 0 2px 10px 0 rgba(#000, .1);
}

.header-inner {
	width: 100%;
	background-color: #40a34d;
	height: 100%;
	position: sticky;
	top: 5;
	display: flex;
	align-items: center;
	img {
          -webkit-box-align: initial;
		display: block;
		height: calc(var(--header-inner-height) - 45px);
	}
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-navigation {
	display: flex;
	flex-wrap: wrap;
	
	a, button {
		font-size: 1.125rem;
		color: inherit;
		margin-left: 1.75rem;
		position: relative;
		font-weight: 500;
	}
	
	a {
		display: none;
		font-size: 1.125rem;
		color: inherit;
		text-decoration: none;
	}

	button {
		border: 0;
		background-color: transparent;
		padding: 0;
	}
	

	
	a:hover, button:hover {
			&:after {
				transform: scalex(1);
			}
	}
	
	a:after, button:after {
			transition: 0.25s ease;
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: currentcolor;
			transform: scalex(0);
			position: absolute;
			bottom: -2px;
			left: 0;
     }
     

	@media (min-width: 800px) {
		a {
			display: inline-block;
		}

		button {
			display: none;
		}
	}
}

:focus {
	outline: 0;
}
