&nbsp;&nbsp;&nbsp;<app-crop-menu></app-crop-menu>

          <div class="jumbotron">
              <router-outlet></router-outlet>
          </div>
     
      
      
      
      
      
      
      
      <!-- <div style="text-align: center;"><h1> <strong> National Yield Prediction</strong></h1></div>
<button mat-raised-button color="accent" routerLink="/wheat">wheat</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/sorghum">Sorghum</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/predict">Back</button>&nbsp; -->
<!-- <div class="jumbotron">
<app-sorghum-prediction></app-sorghum-prediction>
</div>

    <router-outlet></router-outlet>

<div class="jumbotron">
<app-weat-prediction></app-weat-prediction>

</div> -->


