<div class="submit-form">
      <div *ngIf="!submitted">
  <div class="card" style="padding: 5%;">

    <div class="card-title" style="padding-left: 1%;">
      <h1>Planting Record Information</h1>
      <hr>
    </div>
    <div class="form-group" style="width: 33%;">
      <label for="operation">Farmer Name</label>
      <input
        class="form-control"
        id="farmer"
        required
        [(ngModel)]="plant.farmer"
        name="farmer"
      />
    </div>

    <mat-divider></mat-divider> <br>

<div class="form-row">
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="crop">Crop</label>
        <input
          class="form-control"
          id="crop"
          required
          [(ngModel)]="plant.crop"
          name="crop"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="operation">Operation</label>
        <input
          class="form-control"
          id="operation"
          required
          [(ngModel)]="plant.operation"
          name="operation"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="quantity">Quantity (kg)</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          required
          [(ngModel)]="plant.quantity"
          name="quantity"
        />
      </div>
    </div>
  
  </div>

  <div class="form-row">
     <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="quality">Quality</label>
        <input
          class="form-control"
          id="quality"
          required
          [(ngModel)]="plant.quality"
          name="quality"
        />
      </div>
     </div>

     <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="type">Type</label>
        <input
          class="form-control"
          id="type"
          required
          [(ngModel)]="plant.type"
          name="type"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="variety">Variety</label>
        <input
          class="form-control"
          id="variety"
          required
          [(ngModel)]="plant.variety"
          name="variety"
        />
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="rainfall">Rainfall</label>
        <input
        type="number"
          class="form-control"
          id="rainfall"
          required
          [(ngModel)]="plant.rainfall"
          name="rainfall"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="yearOfrelease">Date of release</label>
        <input
         type="date"
          class="form-control"
          id="yearOfrelease"
          required
          [(ngModel)]="plant.yearOfrelease"
          name="yearOfrelease"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="seedRate">Seed Rate</label>
        <input
          class="form-control"
          id="seedRate"
          required
          [(ngModel)]="plant.seedRate"
          name="seedRate"
        />
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
    <div class="form-group">
      <label for="additionalInfo">Additional Information</label>
      <textarea
      
        class="form-control"
        id="additionalInfo"
        required
        [(ngModel)]="plant.additionalInfo"
        name="additionalInfo"
      >
    </textarea>
    </div>
  </div>
    
</div>   
 
        <div style="padding-left: 25%;" >
    
        <button (click)="savePlant()" class="btn btn-success" style="width: 30%;" routerLink = "/plantlist" >Submit</button>
        &nbsp;&nbsp;
        <button  class="btn btn-primary" style="width: 30%;" routerLink = "/plantlist" > Back</button>
      </div>
      </div>
    
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newPlant()"  >Add New Plant</button> 
        &nbsp;&nbsp;
        <button class="btn btn-primary" routerLink = "/plantlist">Back to lists</button>
      </div>
      
    </div>
    