<div><h2 class="text-center"><strong>National Yield Prediction </strong> </h2></div>
<div>
    Select crop for prediction 
      <select [(ngModel)]="currentRoute" (change)="routeTo(currentRoute)" >
      <!-- ngValue can be used to bind object while value is suitable for binding string -->
      <option *ngFor="let r of routes" [ngValue]="r.value">{{r.display}}</option>
    </select>
  </div>
  {{currentRoute}}
  <router-outlet (activate)="onActivate($event)"></router-outlet>

