<div class="submit-form">
    <h1>Harvest Record Information</h1>
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="farmer">Farmer Name</label>
          <input
            type="text"
            class="form-control"
            id="farmer"
            required
            [(ngModel)]="harvest.farmer"
            name="farmer"
          />
        </div>
    
        
        
        <div class="form-group">
          <label for="crop">Crop</label>
          <input
            class="form-control"
            id="crop"
            required
            [(ngModel)]="harvest.crop"
            name="crop"
          />
        </div>
  
  
        <div class="form-group">
          <label for="operation">Operation</label>
          <input
            class="form-control"
            id="operation"
            required
            [(ngModel)]="harvest.operation"
            name="operation"
          />
        </div>


        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              class="form-control"
              id="quantity"
              required
              [(ngModel)]="harvest.quantity"
              name="quantity"
            />
          </div>
    
          <div class="form-group">
            <label for="quality">Quality</label>
            <input
              class="form-control"
              id="quality"
              required
              [(ngModel)]="harvest.quality"
              name="quality"
            />
          </div>
    
        
    
        <button (click)="saveHarvest()" class="btn btn-success">Submit</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" routerLink = "/harvestlist">Back to lists</button>
      </div>
    
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newHarvest()">Add New Harvest</button> 
        &nbsp;&nbsp;
        <button class="btn btn-primary" routerLink = "/harvestlist">Back to lists</button>
      </div>
      
    </div>
    