<div>
    <br>
    <mat-card style="width: 50%;">
        <mat-card-header>
            <section class="mat-typography">
                <h3>Update Farmer Info</h3>
            </section>
        </mat-card-header>     
        <mat-divider></mat-divider>     
        <br>
        <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field style="width: 75%;" class="field-full-width"> 
            <input matInput placeholder ="name" formControlName="name" #name>
        </mat-form-field> 
        <mat-form-field style="width: 75%;" class="field-full-width"> 
            <input matInput placeholder ="city" formControlName="city" #city>
        </mat-form-field> 
        <mat-form-field style="width: 75%;" class="field-full-width"> 
            <input matInput placeholder ="phone number #" formControlName="phone" #phone>
        </mat-form-field> 
        <!-- <mat-form-field class="field-full-width"> 
            <input matInput placeholder ="password" formControlName="password" #password>
        </mat-form-field>  -->
        <!-- <mat-form-field class="field-full-width-selector" > 
                <mat-select placeholder="Role" formControlName="roles" class="mat-selector" #roles> -->
                 
                <!-- <mat-option value ="admin">Administrator</mat-option>
                <mat-option value ="moderator">Plant-Expert</mat-option>
                <mat-option value ="user">Extention-Worker</mat-option>
            </mat-select>
             </mat-form-field> -->
              &nbsp;&nbsp; 
             <!-- <mat-form-field class="field-full-width-selector" > 
                <mat-select placeholder="Status" formControlName="status" class="mat-selector" #status>
                    <mat-option value ="Open">Open</mat-option>
                    <mat-option value ="Progress">Progress</mat-option>
                    <mat-option value ="Done">Done</mat-option>
                </mat-select>
                 </mat-form-field> 
                -->
             <mat-divider></mat-divider>
             <br><br>
             <button mat-raised-button color="accent" routerLink="/sublist">Back</button>&nbsp;
             <!-- <button type="submit" (click)="updateIssue(title.value,responsible.value,description.value,severity.value,status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" >Save</button> -->
             <button type="submit" (click)="updateSubscriber(name.value,city.value,phone.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" >Save</button>
   
        </form>
    </mat-card>
</div>
    
