<!-- <div class="row ml - 2">
     <div class="col-2 offset-5">
         <div class="card">
             <div class="card-body title center">
          <h4 class="card-title">Total Users </h4>
           <br>
           <h4 > {{userCount}} </h4>
             </div>
         </div>

     </div>

     <div class="col-2 offset-5">
        <div class="card">
            <div class="card-body title center">
         <h4 class="card-title">Total Admins</h4>
          <br>
          <h4 > {{userAdminRoleCount}} </h4>
            </div>
        </div>

    </div>

    <div class="col-2 offset-5">
        <div class="card">
            <div class="card-body title center">
         <h4 class="card-title">Total Extention worker</h4>
          <br>
          <h4 > {{userExtentionRoleCount}} </h4>
            </div>
        </div>

    </div>

    <div class="col-2 offset-5">
        <div class="card">
            <div class="card-body title center">
         <h4 class="card-title">Total Seed Expert</h4>
          <br>
          <h4 > {{userSeederRoleCount}} </h4>
            </div>
        </div>

    </div>

    <div class="col-2 offset-5">
        <div class="card">
            <div class="card-body title center">
         <h4 class="card-title">Total Alimuni User</h4>
          <br>
          <h4 > {{userUserRoleCount}} </h4>
            </div>
        </div>

    </div>
 -->

<!-- </div> -->


<div class="card" style="width: 15%; margin-bottom: 1%;">

    <button mat-raised-button color="primary" routerLink = "/register" >+ NEW USER</button>      
</div>

    <div class="card" style="width: 85%; box-shadow: 0  5px 6px 0 rgba(0,0,0,0.2);  position:absolute; left:25px; "  >
           
            <table style="width: 100%;"  mat-table [dataSource]="dataSource" matSort>
  
                <!-- Name Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
  
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
  
               
  
                <!-- Roles Column -->
                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.roles[0].name}} </td>
                    
                </ng-container>

                 <!-- Date Column -->
                 <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;">Date Created </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt| date : 'short'}} </td>
                    
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 17px;font-weight: bold; color: black;">&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                    <td mat-cell *matCellDef = "let element">
                        <button mat-button color="primary" (click) ="editIssue(element._id)">Edit</button>
                        <button mat-button color="warn"    (click) ="deleteIssue(element._id)">Delete</button>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
            </table>
            <mat-divider></mat-divider>
            <mat-paginator [pageSizeOptions]="[9, 15, 20 ,25]"></mat-paginator> 
           
        </div>
  


<!-- 
<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div> -->