<!-- 
<div>
    <br>
    <mat-card>
        <button mat-raised-button color="primary" routerLink = "/harvestcreate" >ADD NEW HARVEST RECORD</button>
     <mat-divider></mat-divider>
     <br>
      
   </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table  mat-table [dataSource]="harvests" matSort class="mat-elevation-z8">
  
                <ng-container matColumnDef="farmer">
                    <th mat-header-cell *matHeaderCellDef > Farmer Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.farmer}} </td>
                </ng-container>
  
                <ng-container matColumnDef="crop">
                    <th mat-header-cell *matHeaderCellDef > Crop </th>
                    <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                </ng-container>
  
                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header text>Operation</th>
                    <td mat-cell *matCellDef="let element"> {{element.operation}} </td>
                </ng-container> 

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header text> Quantity</th>
                    <td mat-cell *matCellDef="let object "> {{object.quantity}} </td>
                </ng-container> 

                <ng-container matColumnDef="quality">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header text> Quality</th>
                    <td mat-cell *matCellDef="let object "> {{object.quality}} </td>
                </ng-container> 
  
            
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef = "let element">
                        <button routerLink = "/harvestedit" mat-button color="primary"  (click) ="editHarvest(element.id)">Edit</button>
                        <button mat-button color="warn"    (click) ="deleteHarvest(element.id)">Delete</button>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
            </table>
  
           
        </div>
  
    </div>

</div>

<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div> -->


  <!-- 


<div>
    <br>
    <mat-card>
        <button mat-raised-button color="primary" routerLink = "/subcreate" >ADD NEW FARMER</button>
     <mat-divider></mat-divider>
     <br>
      
   </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table  mat-table [dataSource]="subscribers" matSort class="mat-elevation-z8">
  
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > farmername </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
  
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef > City </th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>
  
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header text> Phone</th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container> 


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef = "let element">
                        <button routerLink = "/subedit" mat-button color="primary"  (click) ="editSubscriber(element._id)">Edit</button>
                        <button mat-button color="warn"    (click) ="deleteSubscriber(element._id)">Delete</button>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
            </table>
  
           
        </div>
  
    </div>

</div>
 -->


 
<div class="card" style="width: 15%; margin-bottom: 1%;">

    <button mat-raised-button color="primary" routerLink = "/harvestcreate" >+ New Harvest</button>      
</div>

    <div class="card" style="width: 85%; box-shadow: 0  5px 6px 0 rgba(0,0,0,0.2);  position:absolute; left:25px; "  >
           
            <table style="width: 100%;"  mat-table [dataSource]="harvests" matSort>

                <ng-container matColumnDef="farmer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Farmer Name </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 16px;"> {{element.farmer}} </td>
                </ng-container>
  
                <ng-container matColumnDef="crop">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Crop </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 16px;"> {{element.crop}} </td>
                </ng-container>
  
                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;">Operation</th>
                    <td mat-cell *matCellDef="let element" style="font-size: 16px;"> {{element.operation}} </td>
                </ng-container> 

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Quantity</th>
                    <td mat-cell *matCellDef="let object " style="font-size: 16px;"> {{object.quantity}} </td>
                </ng-container> 

                <ng-container matColumnDef="quality">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Quality</th>
                    <td mat-cell *matCellDef="let object " style="font-size: 16px;"> {{object.quality}} </td>
                </ng-container> 
  
            
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Actions</th>
                    <td mat-cell *matCellDef = "let element">
                        <button routerLink = "/harvestedit" mat-button color="primary"  (click) ="editHarvest(element.id)">Edit</button>
                        <button mat-button color="warn"    (click) ="deleteHarvest(element.id)">Delete</button>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
            </table>
            <mat-divider></mat-divider>
            <mat-paginator [pageSizeOptions]="[10, 15, 20 ,25]"></mat-paginator> 
           
        </div>
  
