<!-- 


<div>
    <br>
    <mat-card>
        <button mat-raised-button color="primary" routerLink = "/subcreate" >ADD NEW FARMER</button>
     <mat-divider></mat-divider>
     <br>
      
   </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table  mat-table [dataSource]="subscribers" matSort class="mat-elevation-z8">
  
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > farmername </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
  
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef > City </th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>
  
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header text> Phone</th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container> 


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef = "let element">
                        <button routerLink = "/subedit" mat-button color="primary"  (click) ="editSubscriber(element._id)">Edit</button>
                        <button mat-button color="warn"    (click) ="deleteSubscriber(element._id)">Delete</button>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
            </table>
  
           
        </div>
  
    </div>

</div>
 -->


 
<div class="card" style="width: 15%; margin-bottom: 1%;">

    <button mat-raised-button color="primary" routerLink = "/subcreate" >+ New Farmer</button>      
</div>

    <div class="card" style="width: 85%; box-shadow: 0  5px 6px 0 rgba(0,0,0,0.2);  position:absolute; left:25px; "  >
           
            <table style="width: 100%;"  mat-table [dataSource]="subscribers" matSort>
  
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Farmer Name </th>
                    <td mat-cell *matCellDef="let element"style="font-size: 16px;"> {{element.name}} </td>
                </ng-container>
  
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> City </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 16px;"> {{element.city}} </td>
                </ng-container>
  
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> Phone</th>
                    <td mat-cell *matCellDef="let element" style="font-size: 16px;"> {{element.phone}} </td>
                </ng-container> 


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px;font-weight: bold; color: black;"> &nbsp;&nbsp;&nbsp;&nbsp; Actions</th>
                    <td mat-cell *matCellDef = "let element" style="font-size: 16px;">
                        <button routerLink = "/subedit" mat-button color="primary"  (click) ="editSubscriber(element._id)">Edit</button>
                        <button mat-button color="warn"    (click) ="deleteSubscriber(element._id)">Delete</button>
                    </td>
                </ng-container>
  
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
            </table>
            <mat-divider></mat-divider>
            <mat-paginator [pageSizeOptions]="[10, 15, 20 ,25]"></mat-paginator> 
           
        </div>
  
